.contenedor {
    text-align: center;
    box-shadow: 0px 0px 35px #100F26;
    border-style: initial;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    padding: 5%;
    background-color: #8FB2BF;
}
.encabezado {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    background-color: #100F26;
    color: #B6E1F2;
    padding: 2%;
}
.mb-3{
    margin: 2%;
}
.boton{
    border: #100F26ed;
    background-color: #100F26;
    margin-bottom: 1%;
    color: #B6E1F2;
    border: 1px solid #100F26;
    margin-left: 2%;
}
.botones{
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 0.8%;
}
.boton:hover{
    background-color: #B6E1F2;
    color: #100F26;
    border: 1px solid #100F26;
}
.boton:active {
    transition: 100000s;
  }
.pie {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5%;
    background-color: #100F26;
    color: #B6E1F2;
    padding: 1%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.muestra{
    border: 2px solid #364959;
    border-radius: 20px;
    margin-bottom: 2%;
    font-family: 'Scada', sans-serif;
}
