:root {
    --color-secundario: #053D38;
    /* paleta */
    --color-intermedio: #34675C;
    /* paleta */
    --color-oscuro: #14140F;
    /* paleta */
    --color-terciario: #A3CCAB;
    /* paleta */
    --color-primario: #F26800;
    /* paleta */
    --color-negro: #000;
    --color-blanco: #FFF;
    --color-gris: #808080;
    --color-finfooter: rgba(255, 255, 255, 0.2);

    --familia-fuente-texto-comun: "Hind", sans-serif;
    --familia-fuente-boton: "Yantramanav", sans-serif;
    --familia-fuente-textoapagado: Arial, sans-serif;
    --familia-fuente-textogrande: "Encode Sans SC", sans-serif;
    --familia-fuente-subtitulo: "Epilogue", sans-serif;
    --familia-fuente-h1: "Fugaz One", sans-serif;

    --tamanio-fuente-barranav: 1.6rem;

    --grosor-fuente-boton: 700;
    --grosor-fuente-barranav: 600;
    --grosor-h1: 600;
    --grosor-fuente-textogrande: 800;
    --grosor-fuente-textocomun: 500;
}

html {
    font-size: 62.5%;
}

@keyframes zoomentrada {
    from {
        background-size: 108%;
    }

    to {
        background-size: 100%;
    }
}

@keyframes tituloentrada {
    from {
        opacity: 0;
        font-size: 90%;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomentradaslider {
    from {
        width: 108%;
    }

    to {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    top: 76px;
}

main {
    position: relative;
    top: 76px;
    background-color: var(--color-terciario);
}

a {
    text-decoration: none;
}

/* header */
.contenedorlogo {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 76px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--color-terciario);
    z-index: 3;
}

.headercontenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.burgercontenedor {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.burgercontenedor button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
}

.burgercontenedor button i {
    color: var(--color-secundario);
    font-size: 2rem;
}

.contenedordopa a {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    cursor: pointer;
    height: 72px;
    transform: translateX(30px);
}

.contenedoriconos {
    display: flex;
    width: 45px;
    margin-right: 30px;
    gap: 15px;
}

.contenedoriconos>a {
    color: var(--color-secundario);
    font-size: 2rem;
}

.linkmiperfil {
    width: 100%;
}

.imagenperfil {
    width: 100%;
}

.contenedorbarranav {
    display: flex;
    justify-content: center;
    font-size: var(--tamanio-fuente-barranav);
    background-color: var(--color-secundario);
    z-index: 2;
}

.seleccion {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: var(--color-primario);
    transition: 0.3s;
}

.menuhorizontal,
.menuhorizontalmobile {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: auto;
    font-size: var(--tamanio-fuente-barranav);
}

.liboton {
    display: none;
}

.liboton button {
    color: var(--color-secundario);
    font-size: 2rem;
    border: none;
    background: none;
}

.linknavtactil {
    display: none;
}

.litactil {
    border-bottom: 3px solid var(--color-primario);
}

.menuhorizontal>li,
.menuhorizontalmobile>li {
    position: relative;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    z-index: 1;
}

.menuhorizontal>li>div>a,
.menuhorizontalmobile>li>div>a {
    color: var(--color-terciario);
    font-size: 1.1em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-fuente-barranav);
    transition: 0.3s;
}

.menuhorizontal>li:hover>div>a,
.menuvertical>li:hover>div>a,

.menuvertical>li:hover>button {
    color: var(--color-primario);
}

.desplegarul {
    display: none;
    color: var(--color-secundario);
    border: none;
    background: none;
}

.menuvertical {
    display: block;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 50%;
    border-bottom: solid 3px var(--color-primario);
    background-color: var(--color-intermedio);
    transform-origin: top;
    transform: scale(1, 0) translateX(-50%);
    opacity: 0;
    transition: 0.3s all cubic-bezier(.5, 1.3, .6, 1);
    transition-delay: 0.1s;
}

.menuvertical li {
    white-space: nowrap;
    width: auto;
    text-align: center;
}

.menuvertical li:hover a {
    color: var(--color-primario);
}

.menuvertical li a {
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 1em;
    font-family: var(--familia-fuente-texto-comun);
    color: var(--color-blanco);
}

.menuhorizontal>li:hover .menuvertical {
    opacity: 1;
    transform: scale(1, 1) translateX(-50%);
}

/* main */
.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 550px;
    font-size: 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../public/img/fondogym.jpg');
    animation: zoomentrada 10s ease-out forwards;
}

h1 {
    color: var(--color-primario);
    font-size: 1.5em;
    font-family: var(--familia-fuente-h1);
    font-weight: var(--grosor-h1);
    animation: tituloentrada 2s cubic-bezier(0.5, 1.5, 0.6, 1) forwards;
}

.barraseparacion {
    width: 100%;
    height: 85px;
    background-color: var(--color-secundario);
}

.contenedor {
    width: 100%;
    background-color: var(--color-terciario);
}

.gestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.titulogestion {
    text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--color-secundario);
    font-size: 4rem;
    font-family: var(--familia-fuente-subtitulo);
}

.contenidogestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenidogestion p {
    color: var(--color-secundario);
    font-size: 0.5em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-fuente-textocomun);
}

.contenidogestion a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin: 30px 0;
    border: none;
    border-radius: 50px;
    color: var(--color-secundario);
    font-size: 0.5em;
    font-family: var(--familia-fuente-boton);
    font-weight: var(--grosor-fuente-boton);
    background-color: var(--color-primario);
    transition: 0.3s;
}

.contenidogestion a:hover {
    color: var(--color-terciario);
    transform: scale(1.07);
}

.contenidogestion a:active {
    transform: scale(1.03);
}


/* responsive */
/* tablet */
@media (max-width: 1024px) {

    /* header */
    .menuhorizontal>li {
        padding: 12px 10px;
    }

    .linknavtactil {
        display: flex;
    }

    .linknav {
        display: none;
    }

    /* main */
    .bienvenida {
        height: 325px;
        font-size: 3rem;
    }
}

/* mobile */
@media (max-width: 768px) {

    /* header */
    .contenedorlogo {
        display: flex;
        justify-content: space-between;
        z-index: 4;
    }

    .burgercontenedor {
        margin-left: 15px;
    }

    .burgercontenedor button {
        display: flex;
    }

    .logo {
        height: 55px;
        transform: translateX(5px);
    }

    .contenedoriconos {
        width: 30px;
        margin-right: 15px;
        gap: 10px;
    }

    .navresponsive {
        height: 28px;
        background-color: var(--color-secundario);
    }

    .contenedorbarranav {
        position: fixed;
        display: flex;
        align-items: flex-start;
        overflow-y: auto;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 20px;
        background-color: var(--color-terciario);
        transform: translateX(-100%);
        transition: 0.3s;
        z-index: 4;
    }

    .burgeron {
        transform: translateX(0);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    }

    .seleccion {
        display: none;
    }

    .menuhorizontalmobile,
    .menuhorizontal {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .menuhorizontalmobile li,
    .menuhorizontal li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.4s;
    }

    .menuhorizontalmobile li div a,
    .menuhorizontal li div a {
        font-size: 2rem;
        color: var(--color-secundario);
    }

    .lisubcontenedor {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .menuhorizontal li .lion a,
    .menuhorizontalmobile li .lion a,
    .lion button {
        color: var(--color-primario);
    }

    .liboton {
        display: flex;
    }

    .lipropioon {
        background-color: var(--color-intermedio);
    }

    .desplegarul {
        display: flex;
        font-size: 2.15rem;
    }

    .rotateboton {
        transform: rotate(180deg);
    }

    .menuvertical {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 100%;
        left: 0;
        box-shadow: inset 0px 7px 15px 0px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        transition-delay: 0;
        transform: scale(1, 0) translateX(0);
    }

    .menuvertical.visible {
        opacity: 1;
        transform: scale(1, 1) translateX(0) translateY(-2px);
    }

    .menuvertical li {
        align-items: center;
    }

    .menuvertical li:hover a {
        color: var(--color-blanco);
    }

    .menuvertical li a {
        font-size: 1.15em;
        color: var(--color-blanco);
    }

    /* main */
    .bienvenida {
        height: 200px;
        font-size: 1.8rem;
    }

    .barraseparacion {
        height: 60px;
    }

    h2 {
        font-size: 3.1rem;
    }
}