:root {
    --color-secundario: #053D38;
    /* paleta */
    --color-intermedio: #34675C;
    /* paleta */
    --color-oscuro: #14140F;
    /* paleta */
    --color-terciario: #A3CCAB;
    /* paleta */
    --color-primario: #F26800;
    /* paleta */
    --color-negro: #000;
    --color-blanco: #FFF;
    --color-gris: #808080;
    --color-campo-input: #FFF;
    --color-secundario-trasparencia: #053d3853;
    --color-terciario-difuminado: #A3CCAB1f;
    --color-linea-inferior: #808080;
    --color-primario-apagado: #cc5800;

    --familia-fuente-texto-comun: "Hind", sans-serif;
    --familia-fuente-boton: "Yantramanav", sans-serif;
    --familia-fuente-textogrande: "Encode Sans SC", sans-serif;
    --familia-fuente-subtitulo: "Epilogue", sans-serif;

    --tamanio-fuente-barranav: 1.6rem;
    --tamanio-fuente-texto: 1.7rem;
    --tamanio-fuente-boton: 2rem;

    --grosor-fuente-boton: 700;
    --grosor-fuente-barranav: 600;
    --grosor-fuente-textogrande: 800;
    --grosor-fuente-textocomun: 500;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    position: relative;
    background-color: var(--color-terciario);
}

a {
    text-decoration: none;
}

/* header */
.contenedorlogo {
    position: relative;
    display: flex;
    top: 0;
    width: 100%;
    height: 76px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--color-terciario);
    z-index: 3;
}

.headercontenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.burgercontenedor {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.burgercontenedor button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
}

.burgercontenedor button i {
    color: var(--color-secundario);
    font-size: 2rem;
}

.contenedordopa a {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    cursor: pointer;
    height: 72px;
    transform: translateX(30px);
}

.contenedoriconos {
    display: flex;
    width: 45px;
    margin-right: 30px;
    gap: 15px;
}

.contenedoriconos>a {
    color: var(--color-secundario);
    font-size: 2rem;
}

.linkmiperfil {
    width: 100%;
}

.imagenperfil {
    width: 100%;
}

.contenedorbarranav {
    display: flex;
    justify-content: center;
    font-size: var(--tamanio-fuente-barranav);
    background-color: var(--color-secundario);
}

.seleccion {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: var(--color-primario);
    transition: 0.3s;
}

.menuhorizontal,
.menuhorizontalmobile {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: auto;
    font-size: var(--tamanio-fuente-barranav);
}

.liboton {
    display: none;
}

.liboton button {
    color: var(--color-secundario);
    font-size: 2rem;
    border: none;
    background: none;
}

.menuhorizontal>li,
.menuhorizontalmobile>li {
    position: relative;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    z-index: 1;
}

.menuhorizontal>li>div>a,
.menuhorizontalmobile>li>div>a {
    color: var(--color-terciario);
    font-size: 1.1em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-fuente-barranav);
    transition: 0.3s;
}

.menuhorizontal>li:hover>div>a {
    color: var(--color-primario);
}

/* main */
html {
    background-image: url('../../public/img/fondos/FondoListar.jpg');
    background-attachment: fixed;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: transparent;
}

.listacontenedor {
    display: flex;
    flex-direction: column;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    gap: 30px;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 50px;
    color: var(--color-terciario);
    border: 2px solid;
    border-radius: 0px 50px;
    background-color: var(--color-secundario-trasparencia);
    backdrop-filter: blur(5px);
}

.titulolista h1 {
    color: var(--color-primario);
    font-size: 5em;
    font-family: var(--familia-fuente-textogrande);
    font-weight: var(--grosor-fuente-textogrande);
}

.objetos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.objetolink {
    box-sizing: border-box;
    width: calc(33.33% - 13.33px);
}

.objeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    gap: 10px;
    font-size: 2em;
    border: 2px solid var(--color-terciario);
    border-radius: 0 20px;
}

.objeto h2 {
    white-space: normal;
    word-wrap: break-word;
    color: var(--color-terciario);
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-navbar);
}

.objeto p {
    font-size: 0.8em;
    white-space: normal;
    word-wrap: break-word;
    color: var(--color-terciario);
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-fuente-textocomun);
}

/* responsive */
/* tablet */
@media (max-width: 1024px) {

    /* main */
    .lista {
        width: 700px;
        padding: 10px;
        padding-bottom: 50px;
    }

    .objetolink {
        width: calc(50% - 10px);
    }
}

/* mobile */
@media (max-width: 740px) {

    /* header */
    .contenedorlogo {
        justify-content: space-between;
        z-index: 4;
    }

    .burgercontenedor {
        margin-left: 15px;
    }

    .burgercontenedor button {
        display: flex;
    }

    .logo {
        height: 55px;
        transform: translateX(5px);
    }

    .contenedoriconos {
        width: 30px;
        margin-right: 15px;
        gap: 10px;
    }

    .navresponsive {
        height: 28px;
        background-color: var(--color-secundario);
    }

    .contenedorbarranav {
        position: fixed;
        display: flex;
        align-items: flex-start;
        overflow-y: auto;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 20px;
        padding-right: 10px;
        background-color: var(--color-terciario);
        transform: translateX(-100%);
        transition: 0.3s;
        z-index: 4;
    }

    .burgeron {
        transform: translateX(0);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    }

    .seleccion {
        display: none;
    }

    .menuhorizontalmobile,
    .menuhorizontal {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .menuhorizontalmobile li,
    .menuhorizontal li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.4s;
    }

    .menuhorizontalmobile li div a,
    .menuhorizontal li div a {
        font-size: 2rem;
        color: var(--color-secundario);
    }

    .lisubcontenedor {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    /* main */
    .lista {
        width: 290px;
        padding: 10px;
        padding-bottom: 30px;
        border-radius: 0 30px;
    }

    .objetolink {
        width: 100%;
    }
}