:root {
    font-size: 62.5%;

    --color-apagado: #053D38;
    /* paleta */
    --color-intermedio: #34675C;
    /* paleta */
    --color-oscuro: #14140F;
    /* paleta */
    --color-destacado: #A3CCAB;
    /* paleta */
    --color-vivo: #F26800;
    /* paleta */
    --color-negro: black;
    --color-blanco: white;
    --color-gris: gray;
    --color-finfooter: rgba(255, 255, 255, 0.2);

    --familia-fuente-texto-comun: "Hind", sans-serif;
    --familia-fuente-boton: "Yantramanav", sans-serif;
    --familia-fuente-textoapagado: Arial, sans-serif;
    --familia-fuente-textogrande: "Encode Sans SC", sans-serif;
    --familia-fuente-subtitulo: "Epilogue", sans-serif;
    --familia-fuente-h1: "Fugaz One", sans-serif;

    --tamanio-fuente-navbar: 1.6rem;
    --tamanio-fuente-textoapagado: 1.4rem;
    --tamanio-fuente-texto: 1.7rem;
    --tamanio-fuente-boton: 2rem;

    --grosor-fuente-boton: 700;
    --grosor-texto-barranav: 600;
    --grosor-h1: 600;
    --grosor-fuente-textogrande: 800;
    --grosor-fuente-textocomun: 500;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 10ex;
}

header {
    position: relative;
    top: 76px;
}

main {
    position: relative;
    top: 76px;
    margin-bottom: 656px;
    background-color: var(--color-destacado);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

a {
    text-decoration: none;
}

/* header */
.contenedorlogo {
    position: fixed;
    display: flexbox;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--color-destacado);
}

.logo {
    cursor: pointer;
    width: 15%;
    margin-top: 3px;
    margin-left: 42.5%;
}

.iconouser {
    position: absolute;
    margin: 28.5px 0;
    margin-left: 36%;
    color: var(--color-apagado);
    font-size: 2rem;
}

.contenedorbarranav {
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: var(--tamanio-fuente-navbar);
    background-color: var(--color-apagado);
}

.seleccion {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: var(--color-vivo);
    transition: 0.3s;
}

.menuhorizontal {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: auto;
    font-size: var(--tamanio-fuente-navbar);
}

.menuhorizontal>li {
    position: relative;
    padding: 12px 20px;
    z-index: 1;
}

.menuhorizontal>li>a {
    color: var(--color-destacado);
    font-size: 1.1em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-texto-barranav);
    transition: 0.3s;
}

.menuhorizontal>li:hover>a,
.menuvertical>li:hover>a {
    color: var(--color-vivo);
}

.menuvertical {
    display: block;
    position: absolute;
    list-style: none;
    top: 53px;
    left: 50%;
    border-bottom: solid 3px var(--color-vivo);
    background-color: var(--color-intermedio);
    transform-origin: top;
    transform: scale(1, 0) translateX(-50%);
    opacity: 0;
    transition: 0.3s all cubic-bezier(.5, 1.3, .6, 1);
    transition-delay: 0.1s;
}

.menuvertical li {
    white-space: nowrap;
    width: auto;
    text-align: center;
}

.menuvertical li a {
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 1em;
    font-family: var(--familia-fuente-texto-comun);
    color: var(--color-blanco);
}

.menuhorizontal>li:hover .menuvertical {
    opacity: 1;
    transform: scale(1, 1) translateX(-50%);
}

/* main */
.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    max-width: 80%;
    font-size: 4rem;
    background-color: var(--color-destacado);
}

.titulo h1 {
    padding-top: 20px;
    color: var(--color-apagado);
    font-size: 1.4em;
    font-family: var(--familia-fuente-textogrande);
    font-weight: var(--grosor-fuente-textogrande);
}

.titulo p {
    margin-top: 20px;
    color: var(--color-intermedio);
    font-size: 0.6em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--grosor-fuente-textocomun);
}

.sedesdopa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 60px;
}

.hijosede {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 60px;
    border-radius: 100px 0px;
    background-color: var(--color-intermedio);
}

.hijosede:nth-child(2) {
    border-radius: 0px 100px;
}

#montevideo{
    scroll-margin-top: 100px;
}

#canelones, #sanjose{
    scroll-margin-top: 50px;
}

.contenidosede {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
}

.contenidosede h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-vivo);
    font-size: 1em;
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-textogrande);
}

.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--color-apagado);
}

.contenidosede p {
    color: var(--color-destacado);
    font-size: 0.45em;
    font-family: var(--familia-fuente-texto-comun);
    font-weight: var(--familia-fuente-texto-comun);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.contenidocanelones .seccion {
    justify-content: right;
}

.texto {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.boton{
    margin-top: 25px;
    align-self: center;
}

.boton a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: var(--color-apagado);
    font-size: 0.5em;
    font-family: var(--familia-fuente-boton);
    font-weight: var(--grosor-fuente-boton);
    background-color: var(--color-vivo);
    transition: 0.3s;
}

.boton a:hover {
    color: var(--color-destacado);
    transform: scale(1.07);
}

.boton a:active {
    transform: scale(1.03);
}

.caracteristicas {
    margin-top: 25px;
    justify-content: center;
    text-align: center;
}

.mapaview {
    width: 600px;
    height: 450px;
    border: none;
    border-radius: 50px 0;
}

.hijosede:nth-child(2) .mapa .mapaview {
    border-radius: 0 50px;
}

.barraseparacion {
    width: 100%;
    height: 85px;
    background-color: var(--color-apagado);
}

/* footer */
.contenedorfooter {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    background-color: var(--color-oscuro);
}

.mainfooter {
    display: inline-flex;
    width: 100%;
    height: 500px;
    font-family: var(--familia-fuente-texto-comun);
}

.mainfooterson {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
    color: var(--color-gris);
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 85%;
    word-wrap: break-word;
    word-break: break-word;
}

.empresa {
    text-align: center;
}

.empresason img {
    width: 100%;
    margin-top: 20px;
}

.empresason h4 {
    margin-top: 20px;
    color: var(--color-blanco);
    font-size: 0.45em;
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-textogrande);
}

.empresason p {
    margin-top: 10px;
    font-size: 0.4em;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.empresason a {
    margin: 0 15px;
    font-size: 0.7em;
    color: var(--color-blanco);
    transition: 0.3s;
}

.empresason a:nth-child(1):hover {
    color: #FF0000;
}

.empresason a:nth-child(2):hover {
    color: #D43089;
}

.empresason a:nth-child(3):hover {
    color: #1877f2;
}

.empresason a:nth-child(4):hover {
    color: #000;
}

.sedesson h4 {
    margin: 10px 0;
    color: var(--color-blanco);
    font-size: 0.55em;
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-textogrande);
}

.sedesson p {
    margin-left: 30px;
    font-size: 0.4em;
}

.sedesson p i {
    margin-right: 5px;
    font-size: 1.2em;
}

.appson {
    text-align: center;
}

.appson h4 {
    margin-bottom: 30px;
    color: var(--color-blanco);
    font-size: 1em;
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-textogrande);
}

.appson h5 {
    margin-bottom: 10px;
    font-size: 0.4em;
    font-family: var(--familia-fuente-textogrande);
}

.appson p {
    margin-bottom: 20px;
    font-size: 0.4em;
}

.apps {
    display: flex;
    justify-content: center;
}

.apps a {
    margin: 0 15px;
    color: var(--color-blanco);
    transition: 0.3s;
}

.apps a:nth-child(1):hover {
    color: gray;
}

.apps a:nth-child(2):hover {
    color: #1DA1F2;
}

.legalson {
    text-align: center;
}

.legalson h4 {
    margin-bottom: 30px;
    color: var(--color-blanco);
    font-size: 1em;
    font-family: var(--familia-fuente-subtitulo);
    font-weight: var(--grosor-fuente-textogrande);
}

.legalson a {
    color: var(--color-gris);
    font-size: 0.4em;
}

.legalson a:hover {
    text-decoration: underline;
}

.finfooter {
    display: flex;
    margin: 0 auto;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80px;
    border-top: solid 2px var(--color-finfooter);
}

.finfooter p {
    color: var(--color-finfooter);
    font-size: 0.4em;
    font-family: var(--familia-fuente-textoapagado);
    font-weight: var(--grosor-fuente-textocomun);
}