<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/logos/miniDOPAv2darkU.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>DOPA - Sucursales</title>
    <link rel="stylesheet" href="../../../public/css/sucursales.css">
    <script src="../../../public/js/desaparecerlogo.js" async defer></script>
    <script src="../../../public/js/iconouserhover.js" async defer></script>
    <script src="../../../public/js/iconofilehover.js" async defer></script>
    <script src="../../../public/js/iconodireccionhover.js" async defer></script>
    <script src="../../../public/js/barrahover.js" async defer></script>
    <script src="../../../public/js/mobilebarranav.js" async defer></script>
    <script src="../../../public/js/burgeropen.js" async defer></script>
    <script src="../../../public/js/burgerclose.js" async defer></script>
</head>

<body>
    <header>
        <div class="contenedorlogo" id="logo-header">
            <div class="headercontenedor">
                <div class="burgercontenedor">
                    <button class="abrirburger" id="abrir">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <div class="contenedordopa">
                    <a href="../../../index.html">
                        <img src="../../../public/img/logos/DOPAv2darkU.png" alt="LogoDopa" class="logo">
                    </a>
                </div>
                <div class="contenedoriconos">
                    <a href="login.html" title="Iniciar Sesión"><i class="fa-regular fa-user iconouser"
                            id="iconouser"></i></a>
                    <a href="panelcrear.html" title="Panel de Adminsitrador"><i class="fa-regular fa-file iconofile"
                            id="iconofile"></i></a>
                </div>
            </div>
        </div>
        <div class="navresponsive">
            <div class="contenedorbarranav" id="contenedorbarranav">
                <ul class="menuhorizontal" id="menuhorizontal">
                    <li class="liboton">
                        <button class="cerrarburger" id="cerrar">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </button>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="../../../index.html" class="linknav">INICIO</a>
                            <a href="#" class="linknavtactil">INICIO</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="menuvertical">
                            <li class="linknavtactil litactil"><a href="../../../index.html">Inicio - Hub</a></li>
                            <li><a href="../../../index.html#eventos">Eventos</a></li>
                            <li><a href="../../../index.html#actividades">Actividades</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="sucursales.html" class="linknav">SUCURSALES</a>
                            <a href="#" class="linknavtactil">SUCURSALES</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="menuvertical">
                            <li class="linknavtactil litactil"><a href="sucursales.html">Inicio - Sucursales</a></li>
                            <li><a href="#montevideo">Montevideo</a></li>
                            <li><a href="#canelones">Canelones</a></li>
                            <li><a href="#sanjose">San José</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="#" class="linknav">PLANES</a>
                            <a href="#" class="linknavtactil">PLANES</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="menuvertical">
                            <li class="linknavtactil litactil"><a href="#">Inicio - Planes</a></li>
                            <li><a href="#">Plan Personal</a></li>
                            <li><a href="#">Plan Familiar</a></li>
                            <li><a href="#">Plan Infantíl</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="#" class="linknav">ACTIVIDADES Y CLASES</a>
                            <a href="#" class="linknavtactil">ACTIVIDADES Y CLASES</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="#" class="linknav">SOBRE NOSOTROS</a>
                            <a href="#" class="linknavtactil">SOBRE NOSOTROS</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="menuvertical">
                            <li class="linknavtactil litactil"><a href="#">Inicio - Sobre Nosotros</a></li>
                            <li><a href="#">Misión</a></li>
                            <li><a href="#">Visión</a></li>
                            <li><a href="#">Objetivos</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="lisubcontenedor">
                            <a href="#" class="linknav">CONTACTO</a>
                            <a href="#" class="linknavtactil">CONTACTO</a>
                            <button class="desplegarul">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="menuvertical">
                            <li class="linknavtactil litactil"><a href="#">Inicio - Contacto</a></li>
                            <li><a href="#">Centro de Ayuda</a></li>
                            <li><a href="#">Contáctanos</a></li>
                        </ul>
                    </li>
                    <span class="seleccion"></span>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="titulo">
            <h1>Informate sobre nuestras sedes</h1>
            <p>Contamos con tres sedes estratégicamente ubicadas en Montevideo, Canelones y San José. Ofrecemos una
                amplia variedad de
                actividades y servicios para todas las edades y niveles de condición física.</p>
        </div>
        <div class="contenedor">
            <div class="sedesdopa">
                <div class="hijosede">
                    <div class="contenidomontevideo contenidosede" id="montevideo">
                        <h2>Montevideo</h2>
                        <div class="info">
                            <div class="seccion">
                                <div class="icono"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="texto">
                                    <p>Av. Gral. Flores 2228, 11800 Montevideo</p>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-brands fa-whatsapp"></i></div>
                                <div class="texto">
                                    <a href="https://wa.me/59899243758" title="Ir a Whatsapp" target="_blank">
                                        <p>+598 99 248 830</p>
                                    </a>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-solid fa-clock"></i></div>
                                <div class="texto">
                                    <p>Lunes a Viernes de 6:30 a 22:30</p>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-regular fa-envelope"></i></div>
                                <div class="texto">
                                    <a href="mailto:dopapolideportivo@gmail.com">
                                        <p>dopapolideportivo@gmail.com</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="boton" id="botondireccion">
                            <a href="https://www.google.com/maps/place/Av.+Gral.+Flores+2228,+11800+Montevideo,+Departamento+de+Montevideo/@-34.886452,-56.184771,16z/data=!4m6!3m5!1s0x959f803e5836461f:0x4941a0e4ddf27dab!8m2!3d-34.8864519!4d-56.184771!16s%2Fg%2F11frnt88_m?hl=es-419&entry=ttu"
                                target="_blank">
                                <span>Ir a la dirección</span><i class="fa-solid fa-paper-plane"
                                    id="iconodireccion"></i></a>
                        </div>
                        <div class="caracteristicas">
                            <p>Cuenta con sala de Patinaje sobre Hielo y Piscina para actividades acuáticas.</p>
                        </div>
                    </div>
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.7567088666833!2d-56.185859980742286!3d-34.88745514941073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f803e5836461f%3A0x4941a0e4ddf27dab!2sAv.%20Gral.%20Flores%202228%2C%2011800%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1721606038233!5m2!1ses-419!2suy"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapaview"></iframe>
                    </div>
                </div>
                <div class="hijosede">
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.183197101347!2d-56.28316918446414!3d-34.52358629998884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1b422b57ff56f%3A0x7c7c1c2da47ebfe0!2sPdte.%20Tomas%20Berreta%20392%2C%2090000%20Canelones%2C%20Departamento%20de%20Canelones!5e0!3m2!1ses-419!2suy!4v1721605869049!5m2!1ses-419!2suy"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapaview"></iframe>
                    </div>
                    <div class="contenidocanelones contenidosede" id="canelones">
                        <h2>Canelones</h2>
                        <div class="info">
                            <div class="seccion">
                                <div class="texto">
                                    <p>Pdte. Tomas Berreta 392, 90000 Canelones</p>
                                </div>
                                <div class="icono"><i class="fa-solid fa-location-dot"></i></div>
                            </div>
                            <div class="seccion">
                                <div class="texto">
                                    <a href="https://wa.me/59899243758" title="Ir a Whatsapp" target="_blank">
                                        <p>+598 99 248 301</p>
                                    </a>
                                </div>
                                <div class="icono"><i class="fa-brands fa-whatsapp"></i></div>
                            </div>
                            <div class="seccion">
                                <div class="texto">
                                    <p>Lunes a Viernes de 6:30 a 22:30</p>
                                </div>
                                <div class="icono"><i class="fa-solid fa-clock"></i></div>
                            </div>
                            <div class="seccion">
                                <div class="texto">
                                    <a href="mailto:dopapolideportivo@gmail.com">
                                        <p>dopapolideportivo@gmail.com</p>
                                    </a>
                                </div>
                                <div class="icono"><i class="fa-regular fa-envelope"></i></div>
                            </div>
                            <div class="boton" id="botondireccion1">
                                <a href="https://www.google.com/maps?ll=-34.523692,-56.28193&z=16&t=m&hl=es-419&gl=UY&mapclient=embed&q=Pdte.+Tomas+Berreta+392+90000+Canelones,+Departamento+de+Canelones"
                                    target="_blank">
                                    <span>Ir a la dirección</span><i class="fa-solid fa-paper-plane"
                                        id="iconodireccion1"></i></a>
                            </div>
                            <div class="caracteristicas">
                                <p>Cuenta con nuestras sala de Voleibol y Basketball más grandes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hijosede">
                    <div class="contenidosanjose contenidosede" id="sanjose">
                        <h2>San José</h2>
                        <div class="info">
                            <div class="seccion">
                                <div class="icono"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="texto">
                                    <p>Dr. E. G. Ciganda 617, 80000 San José de Mayo</p>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-brands fa-whatsapp"></i></div>
                                <div class="texto">
                                    <a href="https://wa.me/59899243758" title="Ir a Whatsapp" target="_blank">
                                        <p>+598 99 243 758</p>
                                    </a>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-solid fa-clock"></i></div>
                                <div class="texto">
                                    <p>Lunes a Viernes de 6:30 a 22:30 <br> Sábado de 8 a 20</p>
                                </div>
                            </div>
                            <div class="seccion">
                                <div class="icono"><i class="fa-regular fa-envelope"></i></div>
                                <div class="texto">
                                    <a href="mailto:dopapolideportivo@gmail.com">
                                        <p>dopapolideportivo@gmail.com</p>
                                    </a>
                                </div>
                            </div>
                            <div class="boton" id="botondireccion2">
                                <a href="https://www.google.com/maps?ll=-34.3405,-56.710832&z=16&t=m&hl=es-419&gl=UY&mapclient=embed&q=Dr.+E.+G.+Ciganda+617+80000+San+Jos%C3%A9+de+Mayo,+Departamento+de+San+Jos%C3%A9"
                                    target="_blank">
                                    <span>Ir a la dirección</span><i class="fa-solid fa-paper-plane"
                                        id="iconodireccion2"></i></a>
                            </div>
                            <div class="caracteristicas">
                                <p>Cuenta con nuestra más amplia piscina, y pronto será la segunda sede con sala de
                                    Patinaje sobre Hielo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.380162228844!2d-56.71250076020915!3d-34.34080160233884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a177163104116d%3A0xb611aa6d09b5e9f3!2sDr.%20E.%20G.%20Ciganda%20617%2C%2080000%20San%20Jos%C3%A9%20de%20Mayo%2C%20Departamento%20de%20San%20Jos%C3%A9!5e0!3m2!1ses-419!2suy!4v1721605650022!5m2!1ses-419!2suy"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapaview"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="barraseparacion"></div>
    </main>
    <footer>
        <div class="contenedorfooter">
            <div class="mainfooter">
                <div class="submainfooter">
                    <div class="empresa mainfooterson">
                        <div class="contenido empresason">
                            <img src="../../../public/img/logos/DOPAv2lightU.png" alt="LogoDopa">
                            <h4>¡Hacete parte de DOPA!</h4>
                            <p>En DOPA ofrecemos una amplia gama de actividades diseñadas para todos los gustos y
                                niveles de
                                habilidad. <br> Ya
                                sea que seas un apasionado del deporte, un amante del agua, un entusiasta del fitness,
                                un
                                buscador de bienestar o un
                                padre o madre que busca actividades para sus hijos, siempre tenemos algo especial para
                                vos.
                            </p>
                            <div class="redes">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sedes mainfooterson">
                        <div class="contenido sedesson">
                            <h4>Sede Montevideo</h4>
                            <p><i class="fa-solid fa-location-dot"></i> Av. Gral. Flores 2228, 11800 Montevideo</p>
                            <p><i class="fa-solid fa-phone"></i> +598 2480 8300</p>
                            <p><i class="fa-solid fa-clock"></i> Lunes a Viernes de 6:30 a 22:30</p>

                            <h4>Sede Canelones</h4>
                            <p><i class="fa-solid fa-location-dot"></i> Pdte. Tomas Berreta 392, 90000 Canelones</p>
                            <p><i class="fa-solid fa-phone"></i> +598 2480 8301</p>
                            <p><i class="fa-solid fa-clock"></i> Lunes a Viernes de 6:30 a 22:30 </p>

                            <h4>Sede San José</h4>
                            <p><i class="fa-solid fa-location-dot"></i> Dr. E. G. Ciganda 617, 80000 San José de Mayo
                            </p>
                            <p><i class="fa-solid fa-phone"></i> +598 2480 8302</p>
                            <p><i class="fa-solid fa-clock"></i> Lunes a Viernes de 6:30 a 22:30 <br> Sábado de 8 a 20
                            </p>
                        </div>
                    </div>
                </div>
                <div class="submainfooter">
                    <div class="app mainfooterson">
                        <div class="contenido appson">
                            <h4>Aplicación Móvil</h2>
                                <h5>Descargá nuestra Aplicación Móvil</h5>
                                <p>¡Llevá tu entrenamiento al siguiente nivel con nuestra Aplicación Móvil! Reservá
                                    clases,
                                    llevá un registro de tus
                                    entrenamientos, y recibí notificaciones de eventos y promociones directamente en tu
                                    teléfono.</p>
                                <p>Disponible en Google Play y App Store.</p>
                                <div class="apps">
                                    <a href="#"><i class="fa-brands fa-google-play"></i></a>
                                    <a href="#"><i class="fa-brands fa-app-store-ios"></i></a>
                                </div>
                        </div>
                    </div>
                    <div class="legal mainfooterson">
                        <div class="contenido legalson">
                            <h4>Información Legal</h4>
                            <a href="#">Términos y Condiciones</a>
                            <a href="#">Política de Privacidad</a>
                            <a href="#">Aviso Legal</a>
                            <a href="#">Política de Cookies</a>
                            <a href="#">Condiciones de Membresía</a>
                            <a href="#">Política de Seguridad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="finfooter mainfooterson">
                <p>GIMNASIO POLIDEPORTIVO DOPA© DERECHOS RESERVADOS 2018-2025</p>
            </div>
        </div>
    </footer>
</body>

</html>